DB_CONNECTION_STRING = postgres://user:password@localhost:5436/ai-house-for-sale?sslmode=disable
TZ=Asia/Jakarta
GOOGLE_GEMINI_API_KEY = YOUR_GOOGLE_GEMINI_API_KEY_HERE
EMBED_NOTE_CONTENT_TOPIC_NAME = "embed-note-content"